<a href="https://colab.research.google.com/github/MariaTSP/Projeto-SQLite-GoogleColab/blob/main/Projeto_BD_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Projeto de um sistema de doações.
#Conectando ao banco de dados e ativando foreign keys

import sqlite3

# Criando a conexão com o banco de dados
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Ativar chaves estrangeiras
cursor.execute("PRAGMA foreign_keys = ON;")

#-------------------------------------------------------------
#Criação das tabelas

#Criação da tabela usuarios

cursor.execute('''
  CREATE TABLE IF NOT EXISTS usuarios(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    tipo TEXT CHECK (tipo IN('doador','beneficiario'))
    ); ''')

#Criação da tabela itens

cursor.execute('''
  CREATE TABLE IF NOT EXISTS itens(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    descricao TEXT
  );
''')

#Criação da tabela solicitacoes

cursor.execute('''
  CREATE TABLE IF NOT EXISTS solicitacoes(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    id_usuario INTEGER NOT NULL,
    id_item INTEGER NOT NULL,
    data DATETIME DEFAULT (DATETIME('now')),
    FOREIGN KEY (id_usuario) REFERENCES usuarios(id),
    FOREIGN KEY (id_item) REFERENCES itens(id)
  );
''')

conn.commit()

In [27]:
#----------------------------------------------------------
#Inserindo dados na tabela usuarios

cursor.execute('''
  INSERT INTO usuarios (nome, email, tipo) VALUES
  ('Maria das Dores', 'maria@gmail.com', 'beneficiario'),
  ('João', 'joaozinho@gmail.com', 'beneficiario'),
  ('Igreja batista', 'igrejabatista@gmail.com', 'doador');
''')
conn.commit()

In [39]:
#------------------------------------------------------------
#Select dos dados da tabela usuarios

conn.commit()
cursor.execute("SELECT * FROM usuarios;")
results = cursor.fetchall()
for row in results:
  print (row)

(1, 'Maria das Dores', 'maria@gmail.com', 'beneficiario')
(2, 'João', 'joaozinho@gmail.com', 'beneficiario')
(3, 'Igreja batista', 'igrejabatista@gmail.com', 'doador')

In [29]:
#------------------------------------------------------------
#Inserindo dados na tabela itens

cursor.execute('''
  INSERT INTO itens (nome, descricao) VALUES
  ('Cesta Básica', 'Contém arroz, feijão, farinha e sardinha'),
  ('Roupa infantil', 'Vestido tamanho 4, usado poucas vezes.'),
  ('Máscaras', 'pacote com 10 unidades de mascara descartável');
''')
conn.commit()

In [37]:
#------------------------------------------------------------------
#select dos dados da tabela itens

cursor.execute("SELECT * FROM itens;")
results = cursor.fetchall()

for row in results:
    print(row)

(1, 'Cesta Básica', 'Contém arroz, feijão, farinha e sardinha')
(2, 'Roupa infantil', 'Vestido tamanho 4, usado poucas vezes.')
(3, 'Máscaras', 'pacote com 10 unidades de mascara descartável')

In [33]:
#------------------------------------------------------------
#Inserindo dados na tabela solicitacoes

cursor.execute('''
  INSERT INTO solicitacoes (id_usuario, id_item) VALUES
  (1, 2),
  (2, 3),
  (3, 1);
''')
conn.commit()

In [36]:
#--------------------------------------------------------------
#Select dos dados da tabela solicitacoes

cursor.execute("SELECT * FROM solicitacoes")
results = cursor.fetchall()

for row in results:
  print(row)

(1, 1, 2, '2025-04-11 00:14:58')
(2, 2, 3, '2025-04-11 00:14:58')
(3, 3, 1, '2025-04-11 00:14:58')